.btn {
	cursor: pointer;
	display: inline-block;
	width: 30%;
	margin: 0 15px;
	padding: 0 5px;
	font-weight: 700;
	font-size: 14px;
	line-height: 40px;
	text-transform: uppercase;
	text-align: center;
	border: none;
	outline: none;
	background: transparent;
	transition: ease .5s;
	&-white{
		background: #ffffff;
		color: #2C3E50;
		@media (min-width: 1201px) {
			&:hover {
				background: #2C3E50;
				color: #fff;
			}
		}
	}
	&-red{
		background: #ff0000;
		color: #ffffff;
		@media (min-width: 1201px) {
			&:hover {
				background: #c70000;
			}
		}
	}
	&-yellow{
		background-color: #fbff00;
		color: #2C3E50;
		@media (min-width: 1201px) {
			&:hover {
				background: #ffe200;
			}
		}
	}
}